.div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    text-align: center;
    margin-bottom: 4%;
}

.body {
    background-color: #181818;
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
}

.card-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    place-items: center;
}

.heading{
    text-align: center;
    margin-top: 1%;
}